form(method="post", action="/Departments/Edit", id="edit_department_form")
    input(type="hidden", name="id", value="#{id}", id="idOfDepartment")
    p Введите имя:
    input(type="text", name="name", value="#{name}", id="nameOfDepartment")
    p Выберите главный департамент:
    select(name='parentId', id="patentIdOfDepartment")
        each parent in parents
            if(parent.Name == name)
                option(selected="", value="")  Нет родителя
            if parent.Id == parentId
                option(selected="", value=parent.Id) #{parent.Name}
            else if parent.Id != id
                option(value=parent.Id) #{parent.Name}
    p Введите Inn:
    input(type="text", name="inn", value="#{inn}", id="innOfDepartment")
    //br
    //br
    //input(type="submit", value="Отправить")