form(method="post", action="/Employees/Edit", id="edit_employee_form")
    input(type="hidden", name="id", value="#{id}", id="idOfEmployee")
    p Введите имя:
    input(type="text", name="name", value="#{name}", id="nameOfEmployee")
    p Выберите главный департамент:
        select(name='departmentId', id="departmentId")
            each department in departments
                if department.Id == departmentId
                    option(selected="", value=department.Id) #{department.Name}
                else
                    option(value=department.Id) #{department.Name}
